<h1>Welcome!</h1>

<h2>A little bit about me</h2>
My name is Geoff Wild. I'm a software developer. I live and work around Madison, WI with my wife and 3 kids.

<p>
    In my spare time, I like to work on personal projects like game prototypes or this website. I've also spent some time working on a platform with <a href="https://zerohour-productions.net" target="_blank">Zero Hour Productions</a> to help people run
    video game marathons or just their streams. We also use this platform when we run our own charity marathons (such as <a href="https://superstigmaslam.com/" target="_blank">Super Stigma Slam</a>). I also enjoy playing hockey weekly.
</p>

<h2>Favorite Games</h2>
<ul>
    <li>Super Metroid - SNES</li>
    <li>Metroid Fusion - GBA</li>
    <li><a href="https://www.speedrun.com/doubledragon2/run/z5135wgm" target="_blank">Double Dragon II: The Revenge - NES</a></li>
    <li><a href="https://www.speedrun.com/aac/run/yl9152xy" target="_blank">Assault Android Cactus - PC</a></li>
</ul>