/* App component */
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: rgb(5, 121, 105);
  font-size: 250%;
}

h2 {
  color: rgb(44, 44, 44);
  font-weight: lighter;
}

body {
  margin: 2em;
}

a {
  text-decoration: none;
}
