@import 'assets/styles/_variables';

/* App component */

#divMainContent {
    background-color: whitesmoke;
    max-width: 1000px;
    min-width: 350px;
    border-radius: 5px;
    padding: 1.5rem;
    margin: 0 auto;
}

nav {
    a {
        padding: 0.25rem .75rem;
        text-decoration: none;
        margin: .5rem;
        display: inline-block;
        background-color: $base-darker;
        border-radius: 4px;
    }
    a:visited,
    a:link {
        color: $color-black;
    }
    a:hover {
        color: $color-white;
        text-decoration: underline;
    }
}